{% extends 'base.html'%}

{% load static %}

{% block content %}

<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>NOSOTROS</h4>
                        <h2>¡Aqui te contamos un poco, quienes somos!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Banner End Here -->

<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Somos tu guía en el mundo de la ciberseguridad. Nos apasiona simplificar conceptos complejos y compartir contigo las últimas tendencias en protección de datos. Aquí encontrarás consejos prácticos, noticias y análisis para que puedas navegar por el ciberespacio de manera segura y proteger tu información. ¡Únete a nuestra comunidad y aprende a defenderte de las amenazas digitales!
                    <br> En un mundo cada vez más conectado, tu seguridad en línea es nuestra prioridad.  En este blog, te proporcionamos las herramientas y conocimientos necesarios para proteger tu información personal y profesional. Desde ataques de phishing hasta las últimas vulnerabilidades, te mantendremos informado sobre todo lo que necesitas saber para mantenerte a salvo en el ciberespacio.
                </p>
                <p>Únete a nuestra comunidad y arma tu escudo digital. Juntos, exploraremos las últimas amenazas cibernéticas y descubriremos las mejores estrategias para proteger tu información. ¡Sé parte de la revolución de la ciberseguridad y toma el control de tu privacidad en línea</p>
                <p>Gracias por visitar nuestro sitio web...</p>
                <div class="center">
                    <a href="https://empleo.chaco.gob.ar/informatorio#/"  target="blank"><img src="{% static 'logo-info.png' %}" style="max-height:70px; width:auto;" alt="Logo informatorio"></a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
