{% extends 'base.html'%}

{% load static %}

{% block content %}
<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Eliminar Usuario</h4>
                        <h2>¡Realiza los cambios que necesites!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Banner End Here -->

<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="down-contact">
                    <div class="sidebar-heading">
                        <h2>Estas seguro de que quieres elimar el usuario?</h2>
                    </div>
                    <h2>{{ user.username }}</h2>
                    <img class="rounded-circle shadow-2-strong me-3 p-1" src="{{ user.image.url }}" alt="avatar" width="100" height="100"/>
                    <br><br><br>
                    <p>Esta acción no se puede deshacer.</p>
                    <form method="POST">
                        {% csrf_token %}
                        <br>
                        <button class="btn btn-danger" type="submit">Si, eliminar</button>
                        <a href="{% url 'apps.user:manage_users' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}