
{% extends 'base.html'%}

{% load static %}

{% block content %}
<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Administrador de Usuarios</h4>
                        <h2>¡Lleva el control de forma comoda!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Banner End Here -->

<section class="contact-us">
    <div class="container_manage">
                <div class="down-contact">
                    <table class="user-table">
                        <thead>
                            <tr>
                                <th class="user-table-header">Perfil</th>
                                <th class="user-table-header">Id</th>
                                <th class="user-table-header">Nombre de Usuerio</th>
                                <th class="user-table-header">Correo Electronico</th>
                                <th class="user-table-header">Nombres</th>
                                <th class="user-table-header">Apellidos</th>
                                <th class="user-table-header">Fecha de Registro</th>
                                <th class="user-table-header">Staff</th>
                                <th class="user-table-header">Acciones</th>
                                <th class="user-table-header">Activo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr class="user-table-row">
                                <td>
                                    <img class="rounded-circle shadow-2-strong me-3 p-1" src="{{ user.image.url }}" alt="avatar" width="50" height="50"/>
                                </td>   
                                <td class="user-table-cell">{{ user.id }}</td>
                                <td class="user-table-cell">{{ user.username }}</td>
                                <td class="user-table-cell">{{ user.email }}</td>
                                <td class="user-table-cell">{{ user.first_name }}</td>
                                <td class="user-table-cell">{{ user.last_name }}</td>
                                <td class="user-table-cell">{{ user.date_joined }}</td>
                                <td class="user-table-cell">
                                    <input type="checkbox" name="is_staff" {% if user.is_staff %}checked{% endif %}>
                                </td>
                                <td class="user-table-cell">
                                    <a class="btn btn-primary" class="user-table-link" href="{% url 'apps.user:edit_user' user.id %}">Editar</a>
                                    <a class="btn btn-danger" class="user-table-link" href="{% url 'apps.user:delete_user' user.id %}">Eliminar</a>
                                </td>
                                <td class="user-table-cell">
                                    <input type="checkbox" name="is_active" {% if user.is_active %}checked{% endif %}>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
</section>

{% endblock %}