{% extends 'base.html' %}

{% block content %}

<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Tranquilo</h4>
                        <h2>¡Pronto podras volver a ingresar!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="down-contact">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="sidebar-item contact-form">
                                <div class="content">
                                    <center>
                                        <h2>Correo electrónico enviado</h2>
                                        <p>Se ha enviado un correo electrónico con instrucciones para restablecer tu contraseña.</p>
                                        </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}