{% extends 'base.html' %}

{% block content %}

<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Animate</h4>
                        <h2>¡Forma parte de nosotros!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="down-contact">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="sidebar-item contact-form">
                                <div class="content">
                                    <center>
                                        <h2>Restablecer contraseña <br><br></h2>
                                        <form method="POST">
                                        {% csrf_token %}
                                        {{ form }}
                                        <button type="submit">Enviar correo electrónico</button>
                                        </form>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}
