{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Contáctanos</h4>
                        <h2>¡No dudes en comunicarte con nosotros!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Banner Ends Here -->
<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img class="post-image" src="{{ posts.image.url }}" alt="Imagen del Post">
                                </div>
                                <div class="down-content">
                                    <span class="category">{{ posts.category }}</span>
                                    <br><br>
                                    <a><h3 class="title">{{ posts.title }}</h3></a>
                                    <br>
                                    <ul class="post-info">
                                        <li><a>{{ posts.author }}</a></li>
                                        <li><a>{{ posts.date }}</a></li>
                                        <li id="comments-link"><a href="#comentarios"><a>{{ comments.count }} Comentarios</a></li>
                                    </ul>
                                    <a><h6 class="subtitle">{{ posts.subtitle }}</h6></a>
                                    <p class="text">
                                        {{ posts.text }}
                                    </p>
                                    <div class="col-6">
                                        <ul class="post-tags">
                                            <li><i class="fa fa-tags"></i>
                                                {% for tag in posts.tags.all %}
                                                <a href="#">{{tag.name}}</a>
                                                {% empty %}
                                                <a href="#">No hay etiquetas</a>
                                                {% endfor %}
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Aca arrancan los comentarios -->
                                    <h5 id="comentarios"></h5> </div>
                                    <section class="w-100 p-6" style="background-color: #e7effd;">
                                        <div class="container my-5 py-5 text-body">
                                            <div class="container-fluid" style="margin-bottom: 20px;">
                                                <h5>Comentarios</h5>
                                            </div>
                                            <div class="row d-flex justify-content-left" style="margin: 10px;">
                                                {% for coment in comments %}
                                                <div class="row d-flex justify-content-left" style="margin: 10px;">
                                                    <div class="d-flex flex-start mb-4">
                                                        <img class="rounded-circle shadow-2-strong me-3 p-1" src="{{ coment.user.image.url }}" alt="avatar" width="50" height="50"/>
                                                        <div class="card w-100 p-4">
                                                            <div class="card-body w-100 p-3">
                                                                <h5>{{ coment.user }}</h5>
                                                                <div>{{ coment.date }}
                                                                    <br>
                                                                    <br>
                                                                    {{ coment.text }}
                                                                </div>
                                                                    {% if request.user.is_staff or coment.user == user %} <!-- Contenido que se mostrará si alguna de las condiciones es verdadera --> 
                                                                        <div class="mt-2">
                                                                            <a href="{% url 'apps.posts:comment-update' coment.pk %}" class="btn btn-primary btn-sm">Editar</a>
                                                                            <a href="{% url 'apps.posts:comment-delete' coment.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                                                                        </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% empty %}
                                                <p>No hay comentarios
                                                    <br>
                                                    ¡Puedes ser el primero en comentar!
                                                </p>
                                                {% endfor %}
                                                <div class="container-fluid" style="margin-bottom: 100px;">
                                                    <form method="POST" style="margin-bottom: 100px; margin-top: 100px;">
                                                        {% csrf_token %}
                                                        {% if user.is_authenticated %}
                                                        <h2> Deja tu comentario aqui</h2>
                                                        <form method="POST">
                                                            {% csrf_token %}
                                                            {{ form.as_p }}
                                                            <input type="submit" value="Comentar">
                                                        </form>
                                                        {% else %}
                                                        <h3> Debes iniciar sesión o registrarte para comentar</h3>
                                                        <a class="btn btn-success btn-lg" href="{% url 'apps.user:login' %}?next={{ request.path }}#comentario">Iniciar sesión</a>
                                                        <input type="hidden" name="next" value="{{ request.path }}">
                                                        {% endif %}
                                                    </form>
                                                </div>
                                                
                                        <!-- Aca terminan los comentarios -->
                                        
                                    </section> 
                                    <!-- Botones de Editar y Eliminar -->
                                    {% if user.is_authenticated %}
                                    {% if request.user.is_staff %}
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a class="btn btn-primary" href="{% url 'apps.posts:post_update' id=posts.id %}">
                                                        Editar
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <form method="POST" action="{% url 'apps.posts:post_delete' id=posts.id %}"
                                                            onsubmit="return confirm('¿Estás seguro de que deseas eliminar este post?');">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-danger">
                                                            Eliminar
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <h7> <br><br>No tienes permisos para editar este post.</h7>
                                    {% endif %}
                                {% else %}
                                    <h7> <br><br>Debes iniciar sesión para editar este post.</h7> 
                                {% endif %}                               
                                <!-- Fin de Botones -->
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>  
{% endblock %}


